body {
  background-color: #a9ffd4;
}

#target {
  font-size: 8em;
  font-weight: bold;
  color: #666;
  text-align: center;
}

#hajime {
  font-size: 2em;
  font-weight: bold;
  color: #666;
  text-align: center;
}

.info {
  text-align: center;
}

/* ボタンのCSS */
.btn-wrapper {
  text-align: center;
}

.btn {
  padding: 16px 48px;
  background-color: #666;
  display: inline-block;
  opacity: 1;
  border-radius: 20px;
}

.btn:hover {
  opacity: 0.8;
}

.home {
  color: #a8ffff;
}

.ninen {
  color: #a9d4ff;
}

.ichinen {
  color: #faa;
}